.container{
	width:85%;
	margin:auto;
}
body{
	background-color:#F3F2EF;
}
.section1{
   background-color:white;
}
.header{
	display:flex;
	justify-content:space-between;
}
.search{
	background-color:#EEF3F8;
	margin-left:10px;
	width:60%;
	height:3vh;
	border-radius:3px;
	padding:6px;
}
input{
	padding:5px;
	background-color:#EEF3F8;
	border:none;
	margin-top:-5px;
}
.logo{
	display:flex;
	margin-top:10px;
	width:39%;
}
.logo img{
	height:30px;
}
.navbar{
	width:69%;
}
.navbar ul{
	display:flex;
}
li{
	list-style-type:none;
	padding-left:50px;
}
.navbar i{
	font-size:16px;
	color:grey;
}
.pic{
	width:40%;
	margin-left:6rem;
}
.fri1{
	width:25%;
	height:80vh;
	background-color:white;
}

.picture{
	width:25%;
	margin-top:20px;
}
.detail{
	width:70%;
}
.img{
	border-radius:50%;
}
#main{
	display:flex;
	justify-content:space-between;
}
.group{
	width:70%;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin-top:30px;
}
.fri2{
	width:45%;
	height:25vh;
	margin-top:20px;
	display:flex;
	justify-content:space-between;
	background-color:white;
	padding:10px;
}

